body {
	color: #666;
}

.thumbnail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	height: 120px;
	align-items: center;
	border: 1px solid #BFBFBF;
	box-shadow: 3px 3px 4px #aaaaaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 30px;
}
.thumnbail__person {
	margin-bottom: 8px;
}
.thumnbail__image {
	margin: 10px;
}
